@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans Mono", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.home {
  background-image: url("./assets/home/background-home-desktop.jpg");
}

body.destination {
  background-image: url("./assets/destination/background-destination-desktop.jpg");
}

body.crew {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
}

body.technology {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
}

#root {
  margin: auto;
  max-width: 1024px;
}

@media (max-width: 1024px) {
  body.home {
    background-image: url("./assets/home/background-home-tablet.jpg");
  }

  body.destination {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
  }

  body.crew {
    background-image: url("./assets/crew/background-crew-tablet.jpg");
  }

  body.technology {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
  }
}

@media (max-width: 768px) {
  body.home {
    background-image: url("./assets/home/background-home-mobile.jpg");
  }

  body.destination {
    background-image: url("./assets/destination/background-destination-mobile.jpg");
  }

  body.crew {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
  }

  body.technology {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
